@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Noto+Sans+Symbols+2%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-WHj0rOVDD9Sp_font-family: "Inter", sans-serif;
  --mixin-WHj0rOVDD9Sp_font-size: 16px;
  --mixin-WHj0rOVDD9Sp_font-weight: 400;
  --mixin-WHj0rOVDD9Sp_font-style: normal;
  --mixin-WHj0rOVDD9Sp_color: #535353;
  --mixin-WHj0rOVDD9Sp_text-align: left;
  --mixin-WHj0rOVDD9Sp_text-transform: none;
  --mixin-WHj0rOVDD9Sp_line-height: 1.5;
  --mixin-WHj0rOVDD9Sp_letter-spacing: normal;
  --mixin-WHj0rOVDD9Sp_white-space: pre-wrap;
  --mixin-WHj0rOVDD9Sp_user-select: text;
  --mixin-WHj0rOVDD9Sp_text-decoration-line: none;
  --mixin-WHj0rOVDD9Sp_text-overflow: clip;
  --mixin-MjpIqCy7w-FY_color: #000000;
  --mixin-MjpIqCy7w-FY_font-weight: 700;
  --mixin-MjpIqCy7w-FY_font-size: 64px;
  --mixin-MjpIqCy7w-FY_line-height: 1;
  --mixin-MjpIqCy7w-FY_letter-spacing: -1px;
  --mixin-MjpIqCy7w-FY_white-space: pre-wrap;
  --mixin-QOJoYVc1LrGr_color: #000000;
  --mixin-QOJoYVc1LrGr_font-size: 48px;
  --mixin-QOJoYVc1LrGr_font-weight: 700;
  --mixin-QOJoYVc1LrGr_letter-spacing: -0.5px;
  --mixin-QOJoYVc1LrGr_line-height: 1.1;
  --mixin-QOJoYVc1LrGr_white-space: pre-wrap;
  --mixin-nov0Z-n_0Jf6_color: #0070f3;
  --mixin-nov0Z-n_0Jf6_white-space: pre-wrap;
  --mixin-DAlXJ7O9YlYX_color: #000000;
  --mixin-DAlXJ7O9YlYX_font-size: 32px;
  --mixin-DAlXJ7O9YlYX_font-weight: 600;
  --mixin-DAlXJ7O9YlYX_line-height: 1.2;
  --mixin-DAlXJ7O9YlYX_white-space: pre-wrap;
  --mixin-rnXTrfG0NAPn_color: #000000;
  --mixin-rnXTrfG0NAPn_font-size: 24px;
  --mixin-rnXTrfG0NAPn_font-weight: 600;
  --mixin-rnXTrfG0NAPn_line-height: 1.3;
  --mixin-rnXTrfG0NAPn_white-space: pre-wrap;
  --mixin-Q8RKf0Dk5FuS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Q8RKf0Dk5FuS_border-bottom-color: #dddddd;
  --mixin-Q8RKf0Dk5FuS_border-bottom-style: solid;
  --mixin-Q8RKf0Dk5FuS_border-bottom-width: 1px;
  --mixin-Q8RKf0Dk5FuS_border-left-color: #dddddd;
  --mixin-Q8RKf0Dk5FuS_border-left-style: solid;
  --mixin-Q8RKf0Dk5FuS_border-left-width: 1px;
  --mixin-Q8RKf0Dk5FuS_border-right-color: #dddddd;
  --mixin-Q8RKf0Dk5FuS_border-right-style: solid;
  --mixin-Q8RKf0Dk5FuS_border-right-width: 1px;
  --mixin-Q8RKf0Dk5FuS_border-top-color: #dddddd;
  --mixin-Q8RKf0Dk5FuS_border-top-style: solid;
  --mixin-Q8RKf0Dk5FuS_border-top-width: 1px;
  --mixin-Q8RKf0Dk5FuS_border-bottom-left-radius: 3px;
  --mixin-Q8RKf0Dk5FuS_border-bottom-right-radius: 3px;
  --mixin-Q8RKf0Dk5FuS_border-top-left-radius: 3px;
  --mixin-Q8RKf0Dk5FuS_border-top-right-radius: 3px;
  --mixin-Q8RKf0Dk5FuS_font-family: "Inconsolata";
  --mixin-Q8RKf0Dk5FuS_padding-bottom: 1px;
  --mixin-Q8RKf0Dk5FuS_padding-left: 4px;
  --mixin-Q8RKf0Dk5FuS_padding-right: 4px;
  --mixin-Q8RKf0Dk5FuS_padding-top: 1px;
  --mixin-Q8RKf0Dk5FuS_white-space: pre-wrap;
  --mixin-wnQBlMkYZnIl_border-left-color: #dddddd;
  --mixin-wnQBlMkYZnIl_border-left-style: solid;
  --mixin-wnQBlMkYZnIl_border-left-width: 3px;
  --mixin-wnQBlMkYZnIl_color: #888888;
  --mixin-wnQBlMkYZnIl_padding-left: 10px;
  --mixin-wnQBlMkYZnIl_white-space: pre-wrap;
  --mixin-Q0gJE-TryNIf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Q0gJE-TryNIf_border-bottom-color: #dddddd;
  --mixin-Q0gJE-TryNIf_border-bottom-style: solid;
  --mixin-Q0gJE-TryNIf_border-bottom-width: 1px;
  --mixin-Q0gJE-TryNIf_border-left-color: #dddddd;
  --mixin-Q0gJE-TryNIf_border-left-style: solid;
  --mixin-Q0gJE-TryNIf_border-left-width: 1px;
  --mixin-Q0gJE-TryNIf_border-right-color: #dddddd;
  --mixin-Q0gJE-TryNIf_border-right-style: solid;
  --mixin-Q0gJE-TryNIf_border-right-width: 1px;
  --mixin-Q0gJE-TryNIf_border-top-color: #dddddd;
  --mixin-Q0gJE-TryNIf_border-top-style: solid;
  --mixin-Q0gJE-TryNIf_border-top-width: 1px;
  --mixin-Q0gJE-TryNIf_border-bottom-left-radius: 3px;
  --mixin-Q0gJE-TryNIf_border-bottom-right-radius: 3px;
  --mixin-Q0gJE-TryNIf_border-top-left-radius: 3px;
  --mixin-Q0gJE-TryNIf_border-top-right-radius: 3px;
  --mixin-Q0gJE-TryNIf_font-family: "Inconsolata";
  --mixin-Q0gJE-TryNIf_padding-bottom: 3px;
  --mixin-Q0gJE-TryNIf_padding-left: 6px;
  --mixin-Q0gJE-TryNIf_padding-right: 6px;
  --mixin-Q0gJE-TryNIf_padding-top: 3px;
  --mixin-Q0gJE-TryNIf_white-space: pre-wrap;
  --mixin-v2akVoqTQ3S3_display: flex;
  --mixin-v2akVoqTQ3S3_flex-direction: column;
  --mixin-v2akVoqTQ3S3_align-items: stretch;
  --mixin-v2akVoqTQ3S3_justify-content: flex-start;
  --mixin-v2akVoqTQ3S3_list-style-position: outside;
  --mixin-v2akVoqTQ3S3_padding-left: 40px;
  --mixin-v2akVoqTQ3S3_position: relative;
  --mixin-v2akVoqTQ3S3_list-style-type: disc;
  --mixin-v2akVoqTQ3S3_white-space: pre-wrap;
  --mixin-v1JJB2TAQa_r_display: flex;
  --mixin-v1JJB2TAQa_r_flex-direction: column;
  --mixin-v1JJB2TAQa_r_align-items: stretch;
  --mixin-v1JJB2TAQa_r_justify-content: flex-start;
  --mixin-v1JJB2TAQa_r_list-style-position: outside;
  --mixin-v1JJB2TAQa_r_padding-left: 40px;
  --mixin-v1JJB2TAQa_r_position: relative;
  --mixin-v1JJB2TAQa_r_list-style-type: decimal;
  --mixin-v1JJB2TAQa_r_white-space: pre-wrap;
  --mixin-Z38JC8LXAskR_color: #000000;
  --mixin-Z38JC8LXAskR_font-size: 20px;
  --mixin-Z38JC8LXAskR_font-weight: 600;
  --mixin-Z38JC8LXAskR_line-height: 1.5;
  --mixin-Z38JC8LXAskR_white-space: pre-wrap;
  --mixin-2U7xyosiMdZq_color: #000000;
  --mixin-2U7xyosiMdZq_font-size: 16px;
  --mixin-2U7xyosiMdZq_font-weight: 600;
  --mixin-2U7xyosiMdZq_line-height: 1.5;
  --mixin-2U7xyosiMdZq_white-space: pre-wrap;
  --mixin-1zhCV2xwzwQz_color: #3291ff;
  --mixin-1zhCV2xwzwQz_white-space: pre-wrap;
  --mixin--2dt-6e3bK6u_white-space: pre-wrap;
  --mixin-EM_fDpNjp3sb_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-bv8vMkVNYjPO_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-bv8vMkVNYjPO_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-WHj0rOVDD9Sp_font-family);
  font-size: var(--mixin-WHj0rOVDD9Sp_font-size);
  font-weight: var(--mixin-WHj0rOVDD9Sp_font-weight);
  font-style: var(--mixin-WHj0rOVDD9Sp_font-style);
  color: var(--mixin-WHj0rOVDD9Sp_color);
  text-align: var(--mixin-WHj0rOVDD9Sp_text-align);
  text-transform: var(--mixin-WHj0rOVDD9Sp_text-transform);
  line-height: var(--mixin-WHj0rOVDD9Sp_line-height);
  letter-spacing: var(--mixin-WHj0rOVDD9Sp_letter-spacing);
  white-space: var(--mixin-WHj0rOVDD9Sp_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-MjpIqCy7w-FY_color);
  font-weight: var(--mixin-MjpIqCy7w-FY_font-weight);
  font-size: var(--mixin-MjpIqCy7w-FY_font-size);
  line-height: var(--mixin-MjpIqCy7w-FY_line-height);
  letter-spacing: var(--mixin-MjpIqCy7w-FY_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-QOJoYVc1LrGr_color);
  font-size: var(--mixin-QOJoYVc1LrGr_font-size);
  font-weight: var(--mixin-QOJoYVc1LrGr_font-weight);
  letter-spacing: var(--mixin-QOJoYVc1LrGr_letter-spacing);
  line-height: var(--mixin-QOJoYVc1LrGr_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-nov0Z-n_0Jf6_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-DAlXJ7O9YlYX_color);
  font-size: var(--mixin-DAlXJ7O9YlYX_font-size);
  font-weight: var(--mixin-DAlXJ7O9YlYX_font-weight);
  line-height: var(--mixin-DAlXJ7O9YlYX_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-rnXTrfG0NAPn_color);
  font-size: var(--mixin-rnXTrfG0NAPn_font-size);
  font-weight: var(--mixin-rnXTrfG0NAPn_font-weight);
  line-height: var(--mixin-rnXTrfG0NAPn_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Q8RKf0Dk5FuS_font-family);
  border-radius: var(--mixin-Q8RKf0Dk5FuS_border-top-left-radius)
    var(--mixin-Q8RKf0Dk5FuS_border-top-right-radius)
    var(--mixin-Q8RKf0Dk5FuS_border-bottom-right-radius)
    var(--mixin-Q8RKf0Dk5FuS_border-bottom-left-radius);
  padding: var(--mixin-Q8RKf0Dk5FuS_padding-top)
    var(--mixin-Q8RKf0Dk5FuS_padding-right)
    var(--mixin-Q8RKf0Dk5FuS_padding-bottom)
    var(--mixin-Q8RKf0Dk5FuS_padding-left);
  border-top: var(--mixin-Q8RKf0Dk5FuS_border-top-width)
    var(--mixin-Q8RKf0Dk5FuS_border-top-style)
    var(--mixin-Q8RKf0Dk5FuS_border-top-color);
  border-right: var(--mixin-Q8RKf0Dk5FuS_border-right-width)
    var(--mixin-Q8RKf0Dk5FuS_border-right-style)
    var(--mixin-Q8RKf0Dk5FuS_border-right-color);
  border-bottom: var(--mixin-Q8RKf0Dk5FuS_border-bottom-width)
    var(--mixin-Q8RKf0Dk5FuS_border-bottom-style)
    var(--mixin-Q8RKf0Dk5FuS_border-bottom-color);
  border-left: var(--mixin-Q8RKf0Dk5FuS_border-left-width)
    var(--mixin-Q8RKf0Dk5FuS_border-left-style)
    var(--mixin-Q8RKf0Dk5FuS_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-wnQBlMkYZnIl_color);
  padding-left: var(--mixin-wnQBlMkYZnIl_padding-left);
  border-left: var(--mixin-wnQBlMkYZnIl_border-left-width)
    var(--mixin-wnQBlMkYZnIl_border-left-style)
    var(--mixin-wnQBlMkYZnIl_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Q0gJE-TryNIf_font-family);
  border-radius: var(--mixin-Q0gJE-TryNIf_border-top-left-radius)
    var(--mixin-Q0gJE-TryNIf_border-top-right-radius)
    var(--mixin-Q0gJE-TryNIf_border-bottom-right-radius)
    var(--mixin-Q0gJE-TryNIf_border-bottom-left-radius);
  padding: var(--mixin-Q0gJE-TryNIf_padding-top)
    var(--mixin-Q0gJE-TryNIf_padding-right)
    var(--mixin-Q0gJE-TryNIf_padding-bottom)
    var(--mixin-Q0gJE-TryNIf_padding-left);
  border-top: var(--mixin-Q0gJE-TryNIf_border-top-width)
    var(--mixin-Q0gJE-TryNIf_border-top-style)
    var(--mixin-Q0gJE-TryNIf_border-top-color);
  border-right: var(--mixin-Q0gJE-TryNIf_border-right-width)
    var(--mixin-Q0gJE-TryNIf_border-right-style)
    var(--mixin-Q0gJE-TryNIf_border-right-color);
  border-bottom: var(--mixin-Q0gJE-TryNIf_border-bottom-width)
    var(--mixin-Q0gJE-TryNIf_border-bottom-style)
    var(--mixin-Q0gJE-TryNIf_border-bottom-color);
  border-left: var(--mixin-Q0gJE-TryNIf_border-left-width)
    var(--mixin-Q0gJE-TryNIf_border-left-style)
    var(--mixin-Q0gJE-TryNIf_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-v2akVoqTQ3S3_display);
  flex-direction: var(--mixin-v2akVoqTQ3S3_flex-direction);
  align-items: var(--mixin-v2akVoqTQ3S3_align-items);
  justify-content: var(--mixin-v2akVoqTQ3S3_justify-content);
  list-style-position: var(--mixin-v2akVoqTQ3S3_list-style-position);
  padding-left: var(--mixin-v2akVoqTQ3S3_padding-left);
  position: var(--mixin-v2akVoqTQ3S3_position);
  list-style-type: var(--mixin-v2akVoqTQ3S3_list-style-type);
  flex-column-gap: var(--mixin-v2akVoqTQ3S3_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-v1JJB2TAQa_r_display);
  flex-direction: var(--mixin-v1JJB2TAQa_r_flex-direction);
  align-items: var(--mixin-v1JJB2TAQa_r_align-items);
  justify-content: var(--mixin-v1JJB2TAQa_r_justify-content);
  list-style-position: var(--mixin-v1JJB2TAQa_r_list-style-position);
  padding-left: var(--mixin-v1JJB2TAQa_r_padding-left);
  position: var(--mixin-v1JJB2TAQa_r_position);
  list-style-type: var(--mixin-v1JJB2TAQa_r_list-style-type);
  flex-column-gap: var(--mixin-v1JJB2TAQa_r_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Z38JC8LXAskR_color);
  font-size: var(--mixin-Z38JC8LXAskR_font-size);
  font-weight: var(--mixin-Z38JC8LXAskR_font-weight);
  line-height: var(--mixin-Z38JC8LXAskR_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-2U7xyosiMdZq_color);
  font-size: var(--mixin-2U7xyosiMdZq_font-size);
  font-weight: var(--mixin-2U7xyosiMdZq_font-weight);
  line-height: var(--mixin-2U7xyosiMdZq_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-1zhCV2xwzwQz_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
